@font-face {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../vendor/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
}

.modal__login_nav-register-modal {
  margin: 8px 0 0;
  padding: 10px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  background-color: transparent;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
  width: fit-content;
  position: absolute;
  bottom: -2px;
  left: 86.38px;
}

.modal__login_nav-register-modal_load {
  margin: 8px 0 0;
  padding: 10px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  border: none;
  background-color: transparent;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
  width: fit-content;
  position: absolute;
  bottom: -2px;
  left: 116.61px;
}

.modal__login_nav-register-modal:hover {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .modal__login_nav-register-modal {
    bottom: auto;
    top: -60px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .modal__login_nav-register-modal_load {
    bottom: auto;
    top: -60px;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
